/* This is the CSS file I use with my mdnote.vim script.
 * Convert markdown to pretty HTML!
 */

:root {
	--background: #222224;
	--background2: #171717;
	--background3: #666;

	--primary: #00eeff;
	--secondary: #bbeeff;


	--border: #444444;
}

h1.title {display: none;}


/* URLs */
a {
	color: cyan;
}

body {
	background-color: var(--background);
}

@media screen and (min-width: 1000px) {
	body {
		position: relative;
		left: 30%;
		max-width: 40%;
	}
}

html {
	font-family: "Ubuntu Nerd Font", sans-serif;
	color: #ffffff;
}

h1 {
	color: var(--primary);
}

h2 { color: var(--secondary); }

/* Code Snippets */
/* Inline */
code {
	font-family: "JetBrainsMono NF", monospace;
	background-color: var(--background2);
    overflow: auto;
	/*
	*/
}

/* Block */
pre {
	display: block;
	background-color: var(--background);
}
pre code {
    border-left: 3px solid var(--primary);
    display: inline-block;
    page-break-inside: avoid;
    line-height: 1.6;
    margin-bottom: 1.6em;
    padding: 1em 1.5em;
    word-wrap: break-word;
}

/* Tables */
table, th, td {
	border: 1px solid var(--border);
	border-collapse: collapse;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: var(--background2);
}

tr:hover {
	background-color: #666;
}

/* Quotes */
blockquote {
	background-color: var(--background2);
    border-left: 3px solid var(--secondary);
    page-break-inside: avoid;
    line-height: 1.6;
	margin-left: 1em;
	padding-left: 1em;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
}

/* TOC */
li {
	padding: 0.3em;
}
