:root {
	--background: #222224;
	--background2: #171717;
	--background3: #666;

	--primary: #00eeff;
	--secondary: #bbeeff;


	--border: #444444;
}

h1.title {display: none;}


/* URLs */
/*
a:link { color: cyan; }
a:visited { color: #cb42f5; }
*/
a { color: var(--secondary); }

body {
	position: relative;
	background-color: var(--background);
	top: 4em;
}


html {
	color: #ffffff;
}

h1 {
	color: var(--primary);
}

h2 { color: var(--secondary); }

/* Code Snippets */
/* Inline */
code {
	font-family: "Courier New", monospace;
	background-color: var(--background2);
    overflow: auto;
	/*
	*/
}

/* Block */
pre {
	display: block;
	background-color: var(--background);
}
pre code {
    border-left: 3px solid var(--primary);
    display: inline-block;
    page-break-inside: avoid;
    line-height: 1.6;
    margin-bottom: 1.6em;
    padding: 1em 1.5em;
    word-wrap: break-word;
}

/* Tables */
table, th, td {
	border: 1px solid var(--border);
	border-collapse: collapse;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: var(--background2);
}
/*
tr:hover {
	background-color: #666;
}
*/

.projects {
	width: 100%;
}

 .projects tr:hover {
	 background-color: var;
}

.projectinfo {
	display: flex;
	flex-direction: column;
}

.projectimgs {
	text-align: center;
	width: 100%;
}

.projectimg {
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* Quotes */
blockquote {
	background-color: var(--background2);
    border-left: 3px solid var(--secondary);
    page-break-inside: avoid;
    line-height: 1.6;
	margin-left: 1em;
	padding-left: 1em;
    max-width: 100%;
    overflow: auto;
    display: block;
    word-wrap: break-word;
}

/* TOC */
li {
	padding: 0.3em;
}

/* navbar */
.navbar {
	position: fixed;
	float: top;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 100%;

	list-style-type: none;
	background-color: var(--background2);
	/*
	overflow: scroll;
	*/
}

.navitem {
	line-height: 100%;
	position: relative;
	color: var(--primary);
	padding: 1em;
	margin: 0;
	text-align: center;
	float: left;
	/*
	height: 100%;
	*/
	font-weight: bold;
}

.navitem:hover {
	background-color: var(--background3);
}

figcaption {
	text-align: center;
	color: var(--secondary);
}

.anchor {
	display: block;
	position: relative;
	top: -4em;
	visibility: hidden;
}

@media screen and (min-width: 1000px) {
	body {
		position: relative;
		left: 15%;
		max-width: 70%;
		padding-bottom: 15%;
	}

	.projectinfo {
		flex-direction: row;
	}

	.projectinfo.reverse {
		flex-direction: row-reverse;
	}

	.projectdesc {
		max-width: 45%;
	}

}
